@font-face {
  font-family: "Titulos";
  src: url("../fonts/PoetsenOne-Regular.ttf");
}

@font-face {
  font-family: "Texto";
  src: url("../fonts/Dosis-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.sticky {
  position: fixed;
  background-color: #eeeeee !important;
  top: 0;
}

.sticky2 {
  position: fixed;
  background-color: #ffffff00;
  top: 0;
}

.espacio {
  height: 0px;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #4b4b4b83;
  border-radius: 20px;
}

.conarr {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.cab {
  background-color: #23d429;
  color: #ffffff;
  z-index: 99;
  padding: 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cab .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.cab .email .correo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cab .email .horario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cab .email p {
  font-family: "Texto";
  font-size: 18px;
}

.cab .email i {
  font-size: 20px;
}

.cab .redes a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 10px;
}

nav {
  background-color: #eeeeee;
  z-index: 1000;
  position: relative;
  top: 20;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #logoimg {
  width: 80px;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-left: 50px;
}

nav span {
  -webkit-transition: 300MS;
  transition: 300MS;
}

nav span i {
  position: absolute;
  right: 0;
  top: 20px;
  color: #121212a9;
  font-size: 40px;
  padding: 10px;
}

nav span i:hover {
  cursor: pointer;
}

nav ul {
  width: 0;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background: #eeeeee;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav ul li .active {
  color: #23d429;
  border-bottom: #23d429 2px solid;
  text-decoration: none !important;
}

nav ul li a {
  text-decoration: none;
  color: #121212;
  font-family: "Texto";
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #0000007c), to(#0c0c0c6c)), url("../medios/cabeceras/acercade.jpg");
  background-image: linear-gradient(180deg, #0000007c 100%, #0c0c0c6c 100%), url("../medios/cabeceras/acercade.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  width: 100%;
}

header .text-hero {
  text-align: center;
  padding: 100px;
}

header .text-hero h2 {
  font-family: "Titulos";
  font-size: 100px;
  color: #ffffff;
  margin-bottom: 15px;
}

.acercade {
  background-color: #ffffff;
  padding: 25px;
  width: 100%;
}

.acercade .acerca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acercade .acerca .textoac {
  width: 60%;
}

.acercade .acerca .textoac h2 {
  font-family: "Titulos";
  font-size: 45px;
  color: #23d429;
}

.acercade .acerca .textoac h2 span {
  color: #239fff;
  padding-left: 50px;
}

.acercade .acerca .textoac p {
  padding-left: 50px;
  text-align: justify;
  font-family: "Texto";
  font-size: 20px;
}

.acercade .acerca .imgac {
  width: 30%;
}

.acercade .acerca .imgac img {
  width: 100%;
}

.acercade .myv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.acercade .myv h2 {
  padding: 35px 0px;
  font-family: "Titulos";
  font-size: 40px;
  text-align: center;
}

.acercade .myv p {
  font-family: "Texto";
  font-size: 20px;
  text-align: center;
}

.acercade .myv div {
  padding: 0px 25px;
}

.acercade .myv .mision h2 {
  color: #23d429;
}

.acercade .myv .vision h2 {
  color: #239fff;
}

.team {
  width: 100%;
  background-color: #eeeeee;
  padding: 25px 0px;
}

.team .container h2 {
  padding: 35px 0px;
  font-family: "Titulos";
  font-size: 45px;
  text-align: center;
  color: #239fff;
  margin-bottom: 25px;
}

.team .container h2 span {
  color: #23d429;
}

.team .container .nteam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.team .container .nteam .fabian {
  border: #239fff 10px solid !important;
}

.team .container .nteam .fabian a:hover {
  color: #239fff !important;
}

.team .container .nteam .fabian span a:hover {
  background-color: #239fff !important;
  color: #ffffff !important;
}

.team .container .nteam .miembro {
  width: 30%;
  text-align: center;
  padding: 20px 10px;
  font-family: "Texto";
  background-color: #ffffff;
  background-size: cover;
  border: #23d429 10px solid;
  color: #000000;
}

.team .container .nteam .miembro img {
  width: 50%;
  border-radius: 100%;
  border: 4px solid #b6b6b6;
}

.team .container .nteam .miembro h3 {
  font-size: 35px;
  font-weight: 500;
}

.team .container .nteam .miembro p {
  font-size: 20px;
  margin: 15px 0px;
}

.team .container .nteam .miembro span a {
  text-decoration: none;
  font-size: 20px;
  background-color: #dfdfdf;
  border-radius: 50px;
  padding: 5px 15px;
  color: #121212;
  -webkit-transition: .4s;
  transition: .4s;
}

.team .container .nteam .miembro span a:hover {
  background-color: #23d429;
  color: #ffffff;
}

.team .container .nteam .miembro a {
  font-size: 25px;
  padding: 0px 20px;
  color: #121212;
}

.team .container .nteam .miembro a:hover {
  color: #23d429;
}

footer {
  background-color: #eeeeee;
  width: 100%;
  padding: 25px 0px 0px 0px;
}

footer .container .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .foot button:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

footer .container .foot button:hover p {
  display: block;
}

footer .container .foot button {
  background: none;
  border: none;
  cursor: pointer;
  width: 15%;
  position: relative;
}

footer .container .foot button img {
  width: 100%;
}

footer .container .foot button p {
  position: absolute;
  top: 30%;
  color: #ffffff;
  right: 20%;
  display: none;
  font-size: 20px;
}

footer .container .foot p {
  font-size: 20px;
  margin: 20px 0px;
  color: #121212;
  font-family: "Texto";
}

footer .container .foot a {
  font-size: 25px;
  text-decoration: none;
  padding: 0px 10px;
  color: #121212;
}

footer .container .foot a:hover {
  color: #23d429;
}

footer .copy {
  text-align: center;
  width: 100%;
  background-color: #cacaca;
  font-size: 20px;
  font-family: "Texto";
  color: #121212;
  margin-top: 25px;
  padding: 15px;
}

@media screen and (max-width: 1025px) {
  .cab {
    padding: 5px 20px;
  }
  .cab .email {
    width: 80%;
  }
  .cab .email p {
    font-size: 18px;
  }
  .cab .email i {
    font-size: 20px;
  }
  .cab .redes a {
    font-size: 20px;
    padding: 0px 10px;
  }
  nav {
    padding: 10px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav #logoimg {
    width: 80px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 769px) {
  .cab {
    padding: 5px 0px;
  }
  .cab .email {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cab .email p {
    font-size: 18px;
  }
  .cab .email i {
    font-size: 20px;
  }
  .cab .redes a {
    font-size: 20px;
    padding: 0px 5px;
  }
  nav #logoimg {
    width: 70px;
  }
  nav span i:hover {
    cursor: pointer;
  }
  nav ul {
    height: 70px;
    padding-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team .container .nteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .container .nteam .miembro {
    width: 40%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .cab {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cab .email {
    width: 100%;
    text-align: center;
  }
  .cab .email .correo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cab .email .horario {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cab .email p {
    font-size: 13px;
  }
  .cab .email .i {
    font-size: 18px;
  }
  .cab .redes {
    width: 100%;
    text-align: center;
  }
  .cab .redes a {
    font-size: 18px;
    padding: 0px 5px;
  }
  #header {
    padding: 70px 0px !important;
  }
  .sticky {
    position: fixed;
    background: none;
    top: 0;
  }
  nav {
    background-color: #ffffff00;
    top: 20;
    left: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    padding: 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav #logoimg {
    display: none;
  }
  nav span i {
    position: absolute;
    right: 0;
    background-color: #eeeeee5e;
    top: 0px;
    color: #121212a9;
    font-size: 30px;
    padding: 10px;
  }
  nav span i:hover {
    cursor: pointer;
  }
  nav ul {
    height: 80vh;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header {
    padding-top: 100px;
  }
  header .text-hero {
    padding: 50px 0px;
  }
  header .text-hero h2 {
    font-size: 50px;
  }
  .acercade {
    padding: 10px;
  }
  .acercade .acerca .textoac {
    width: 100%;
  }
  .acercade .acerca .textoac h2 {
    font-size: 25px;
    color: #23d429;
    text-align: center;
  }
  .acercade .acerca .textoac h2 span {
    padding-left: 0px;
  }
  .acercade .acerca .textoac p {
    padding-left: 0px;
    text-align: justify;
    font-size: 14px;
  }
  .acercade .acerca .imgac {
    width: 0%;
  }
  .acercade .acerca .imgac img {
    display: none;
  }
  .acercade .myv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
  .acercade .myv h2 {
    font-size: 25px;
  }
  .acercade .myv p {
    font-size: 14px;
    text-align: justify;
  }
  .acercade .myv div {
    padding: 15px 25px;
  }
  .team .container p {
    font-size: 14px;
  }
  .team .container h2 {
    font-size: 25px;
  }
  .team .container .nteam {
    margin-bottom: 5px;
  }
  .team .container .nteam .fabian {
    border: #239fff 5px solid !important;
  }
  .team .container .nteam .miembro {
    width: 70%;
    border: #23d429 5px solid;
  }
  .team .container .nteam .miembro img {
    width: 40%;
    border-radius: 100%;
    border: 4px solid #b6b6b6;
  }
  .team .container .nteam .miembro h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .team .container .nteam .miembro p {
    font-size: 14px;
    margin: 15px 0px;
  }
  .team .container .nteam .miembro span a {
    text-decoration: none;
    font-size: 14px;
    background-color: #dfdfdf;
    border-radius: 50px;
    padding: 5px 15px;
    color: #121212;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .team .container .nteam .miembro a {
    font-size: 14px;
    padding: 0px 20px;
    color: #121212;
  }
  .team .container .nteam .miembro a:hover {
    color: #23d429;
  }
  footer .container .foot button {
    width: 30%;
  }
  footer .container .foot button p {
    top: 25%;
    right: 15%;
    font-size: 15px;
  }
  footer .container .foot p {
    font-size: 14px;
  }
  footer .container .foot a {
    font-size: 20px;
  }
  footer .copy {
    font-size: 14px;
  }
}
/*# sourceMappingURL=acercade.css.map */